*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ---------------  HEADER  --------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: #283849;
	text-align: center;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 4;
}

.boto_Menu {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

a {
	color: #FFF;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: none;
}

/* MENU HAMBUERGESA*/
#menuBurger {
	position: absolute;
	top: 0;
	height: 100%;
}
#menuBurger a {
	width: 60px;
	height: 100%;
}
#menuBurger {
	left: 0;
}
#menuBurger a {
	background: #283849 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-hamburger-menu.svg") no-repeat center center;
}

/* Botonera de menus - esquerra*/
#botoneraMenu {
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	color: #31353d;
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;
	padding-top: 50px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 3;
	left: -100%;
	background: #283849 ;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
}

/* Bottonera - mobile version*/
#botoneraMenu.botoneraLateral {
	left: 0;
}

#botoneraMenu ul a {
	display: block;
	line-height: 50px;
	padding: 0 1em;
	border-top: 4px transparent solid;
}


/* ---------------  CONTENIDORS PARALLAX   --------------*/
.contenidorParallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 100%;
}

.contenidorParallax section {
  width: 100%;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

/* Seccions */
.contenidorParallax section .contingutSeccio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;

  max-width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  margin: 0 auto;
  position: relative;
}

/*-------------- IMATGE DE PORTADA ----------------*/
/* Imatges de les seccions */
.contenidorParallax section:nth-child(1) .image {
  background-image: url(../img/capcalera1.png);
	-webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
	margin-bottom: 40px;
}

.contenidorParallax section:nth-child(1)  h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	padding: 15px 0px 15px;
}

.contenidorParallax section h1 {
	font-size: 3rem;
	margin: 15px 0px 20px;
	padding-bottom: 10px;
	border-bottom: 2px white solid;
}

.contenidorParallax section:nth-child(5) h1 {
	border-bottom: none;
}

.contenidorParallax section p {
	font-size: 1.5rem;
	
}

.text {
	font-family: 'Roboto', sans-serif;
	margin: 0px 150px;
}

/*-------------- 1 SECCIÓ ----------------*/
.contenidorParallax section:nth-child(2) .image {
  	background-image: url(../img/capcalera2.png);
}

/*-------------- 2 SECCIÓ ----------------*/
.contenidorParallax section:nth-child(3) .image {
  	background-image: url(../img/capcalera3.png);
}

/*-------------- 3 SECCIÓ ----------------*/
.contenidorParallax section:nth-child(4) .image {
  	background-image: url(../img/capcalera4.png);
}
/*-------------- 4 SECCIÓ ----------------*/
.contenidorParallax section:nth-child(5) .image {
  	background-image: url(../img/capcalera5.png);
}

.contenidorParallax section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
}


/*-------------- FOOTER ----------------*/
footer {
	background: #283849;
	padding: 40px 0px;
	width: 100%;
}

.contenidorFooter {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.col-sm-8 {
	float: left;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	line-height: 1.42857143;
	color: #ffffff;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	display: inline;
	overflow: hidden;
}
.col-sm-4 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}
.margin-20 {
	margin-bottom: 20px !important;
}
.copyright{
	font-size: 17px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
}

.small, small {
	font-size: 85%;
}
small {
	font-size: 80%;
}
.col-sm-8 {
	float: left;
}
.col-sm-4 {
	float: right;
}

/* Media Querys */
@media only screen and (min-width: 1200px) {
	/* Header */
	header {
		height: 80px;
	}

	#menuBurger {
		display: none; 
	}
	
	/* Botonera Menus*/
	#botoneraMenu {
		position: fixed;
		height: auto;
		width: auto;
		left: auto;
		right: 2em;
		padding-top: 0;
		top: 0;
		background: transparent;
		box-shadow: none;
		line-height: 80px;
		z-index: 4;
	}
    
	#botoneraMenu li {
        border-top: 4px transparent solid;
		display: inline-block;
		margin-left: 1em;
	}

	#botoneraMenu ul a {
		display: inline-block;
		height: auto;
		line-height: 1;
		padding: 1em 1.4em;
		border-bottom: none;
		color: #d4d7db;
		border-radius: 0.25em;
	}

    #botoneraMenu ul li:hover {
        border-top: 4px #e6b110 solid;
        background: #315564;
    }

	.container{
		top: 80px;
	}
	
	/* Footer */
	.contenidorFooter {
		width: 1170px;
	}
}

@media screen and (max-width:768px) {
	/* Footer */
	.col-md-4 {
		width: 100%;
		float: left;
	}
	.col-sm-8 {
		float: left;
	}
}

@media (max-width: 991px) {
  .logo1 {
      display: none;
    }

    .logo2 {
      height: auto;
      width: 300px;
    }

	.contenidorParallax section:nth-child(1)  h1 {
		font-size: 1.1rem;
	}

	.contenidorParallax section  h1 {
		font-size: 1.8rem;
			
	}

	.contenidorParallax section  p {
		font-size: 1.1rem;
	}

	.text{
		margin: 0 auto;
	}
}